
#convertkitModal.modal.fade(tabindex='-1', aria-labelledby='convertkitModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header.bg-gradient-primary-to-secondary.p-4
                h5#generickModalLabel.modal-title.font-alt.text-white Inscrivez vous à la liste d'attente
                button.btn-close.btn-close-white(type='button' data-bs-dismiss='modal', aria-label='Close')
            .modal-body.border-1.p-1
            form.seva-form.formkit-form(action='https://app.convertkit.com/forms/3520168/subscriptions' method='post' data-sv-form='3520168' data-uid='dff826ec47' data-format='modal' data-version='5' data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"fathom":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":true,"url":"https://convertkit.com/features/forms?utm_campaign=poweredby&utm_content=form&utm_medium=referral&utm_source=dynamic"},"recaptcha":{"enabled":false},"return_visitor":{"action":"show","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}' min-width='400 500 600 700 800' style='border-radius: 0px;')
              .form-floating.border-1.p-1(style="height:auto;")
                label(for='email_address') Email
                .invalid-feedback(data-sb-feedback='email:required')
                    | An email is required.
                .invalid-feedback(data-sb-feedback='email:email')
                    | Email is not valid.
                input#email.form-control(type='email',  placeholder='name@email.com' name='email_address' style="height:80px;"
                    data-sb-validations='required,email' )
              .form-floating.mb-3
                input#phone.form-control(aria-label='Phone' name='fields[phone]' required='true' placeholder='Phone' type='text')
                label(for='fields[phone]') Phone number
                .invalid-feedback(data-sb-feedback='phone:required')
                    | A phone number is required.
              .formkit-2461(data-group='dropdown' group='field' type='Custom' order='2' save_as='Tag')
                select.formkit-select(data-element='tags-select' name='tags[]' required='' )
                    option(value='') Type of phone
                    option(value='3277907') iPhone
                    option(value='3277908') Android
              .d-grid.border-2.p-1
                  button.btn.btn-primary.rounded-pill.btn-lg(type="submit", name="asdf") Envoyez
//                 button#submitButton.btn.btn-primary.rounded-pill.btn-lg.disabled(type='submit', , name="asdf") Submit

