doctype html
html(lang=$localeName)

  head
    //- Common headers shared across all pages
    include includes/common-headers.pug
    
    //- Page-specific meta tags
    title #{$i18n.legal.privacy} | #{$i18n.title}
    meta(name='description', content=$i18n.meta.descriptions.privacy)
    
    //- Page-specific canonical link
    link(rel='canonical', href='https://sealf.ie/'+$localeName+'/privacy-ios.html')

    //- Open Graph meta tags for social sharing
    meta(property='og:title', content=$i18n.legal.privacy + ' | ' + $i18n.title)
    meta(property='og:description', content=$i18n.meta.descriptions.privacy)
    meta(property='og:image', content='https://sealf.ie/assets/img/sealfie-og-image.jpg')
    meta(property='og:url', content='https://sealf.ie/'+$localeName+'/privacy-ios.html')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Sealfie')
    meta(property='og:locale', content=$localeName == 'en' ? 'en_US' : 'fr_FR')

    //- Twitter Card meta tags
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@sealfieapp')
    meta(name='twitter:title', content=$i18n.legal.privacy + ' | ' + $i18n.title)
    meta(name='twitter:description', content=$i18n.meta.descriptions.privacy)
    meta(name='twitter:image', content='https://sealf.ie/assets/img/sealfie-twitter-card.jpg')

  body#page-top
    include ../pug/includes/navbar.pug

  header.masthead
    h1 #{$i18n.legal.privacy}
    p Last modified: 25 May 2022
    p
    | By using the Sealfie website, mobile applications and making use of a Sealfie Account (the &ldquo;Account&rdquo;) and
    | all its related features, you understand that your data in relation with
    | your use of our Services is processed according to the following privacy policy.
    | This policy states (i) what data we collect through your access and uses of the
    | Services; (ii) the use we make of such data; and (iii) the safeguards put in place
    | to protect your data. This privacy policy is to be read and understood as being a
    | complement to our  terms of service
    | .
    p
  section#pricing
    h2#1-legal-framework Legal framework
    p
    | The Services are operated by Inkan.link SAS (the &ldquo;Company&rdquo;, &ldquo;We&rdquo;), domiciled at 41 rue Victor Hugo 38920 Crolles. It is therefore governed
    | by the laws and regulations of France.
    p
    | We are GDPR compliant. The designated representative of the Company in the
    | European Union (notably for the purpose of art. 27 GDPR) is Inkan.link SAS, same address.
    h2#2-data-collection-and-usage
    strong 2. Data collection and usage
    p
    | Our overriding policy is to never resell our customer data or target for advertising. We intent to share as little
    | as possible and with explicit consent with the choosen third parties.
    page
    p Data collection is limited to the following:
    p
    strong 2.1 Account creation

    p
    | In addition to end-to-end encryption, all content is also cryptographically signed by
    | the user, before sending it to us. This means that you can always check the
    | signature of any content you get back from our servers, which protects you from
    | forgery (e.g. by a malicious actor).
    p
    strong 2.6 Communicating with Sealfie
    | Your communications with us, such as
    |                                     support requests, bug reports, or feature requests may be saved by our staff. The
    |                                     legal basis for processing is our legitimate interest to troubleshoot more
    |                                     efficiently and improve the quality of our Services.
    p
    strong 2.8 Payment information
    | We rely on third parties to process credit
    |                                     card, PayPal, and Solana transactions and must therefore share payment information
    |                                     with them. Anonymous cash or Solana payments and donations are accepted. The legal
    |                                     basis of this processing is the necessity to the execution of the contract to
    |                                     provide the Services.
    p
    strong 2.9 Native applications
    | Our native applications, we
    |                                     (or the mobile app platform providers) may collect certain information. We may use
    |                                     mobile analytics software (e.g. fabric.io app statistics and crash reporting, Play
    |                                     Store app statistics, App Store app statistics, or self-hosted Sentry crash
    |                                     reporting) to send crash information to our developers in order to rapidly fix bugs.
    |                                     Some platforms, such as Google&rsquo;s Play Store or Apple&rsquo;s App Store may also collect
    |                                     aggregate, anonymous statistics, which may be governed by their respective privacy
    |                                     policies and terms and conditions. Such statistics can include most commonly used
    |                                     devices and operating systems (e.g. percentage of Android 6.x v. Android 7.x), total
    |                                     number of installs and uninstalls, and the total number of active users.
    p
section.bg-light
    h2#5-data-subprocessors 5. Data subprocessors
    p
    | To provide the Services, we rely on different data subprocessors, which process
    | different categories of data. Processors never store data outside of the scope of
    | their specific purpose.
    strong
    | Notably, they do not store data in relation with the
    | general day-to-day use of your Account and Services
    | , which is   exclusively processed by the Company. Subprocessors are as follow:
    p
    h3 5.1 Sealfie Group subprocessors
    p
    strong Back4app
    ul
    li
        | Purpose: Process data account and data information. Files are store in encrypted format only
    li Data processing location: Macedonia
    p

    h3 5.2 Third-party subprocessors
    p
    strong Stripe, Inc.
    ul
    li
        | Purpose: Provide services in relation with the processing of payment data
        | (section 2.6)
    li Data processing location: United States
    p

    h2#6-data-disclosure 6. Data disclosure
    p
    | We will only disclose the limited user data we possess if we are legally obligated to
    | do so by a binding request coming from the competent French authorities. We may
    | comply with electronically delivered notices only when they are delivered in full
    | compliance with the requirements of French law. Sealfie&rsquo;s general policy is to
    | challenge requests whenever possible and where there are doubts as to the validity
    | of the request or if there is a public interest in doing so. In such situations, we
    | will not comply with the request until all legal or other remedies have been
    | exhausted. Under French law, subjects of judicial procedures have to be notified of
    | such procedures, although such notification has to come from the authorities and not
    | from the Company. Under no circumstances can Sealfie decrypt encrypted message
    | content and disclose decrypted copies.

    //- h2#7-right-to-access-rectification-erasure-portability-and-right-to-lodge-a-complaint
    //- | 7. Right to access, rectification, erasure, portability, and right to lodge a
    //- | complaint
    //- p
    //- | Through your Account interface, you can directly access, edit, delete, or export
    //- | personal data processed by the Company in your use of the Services.
    //- p
    //- | If your Account has been suspended for a breach of our
    //- a(href='https://Sealfie.me/legal/terms-ios' target='undefined' rel='noopener noreferrer') terms and conditions
    //- | , and you would like to
    //- |                                     exercise the rights related to your personal data, you can make a request to our
    //- |                                     support team.
    //- p
    //- | In case of violation of your rights, you have the right to lodge a complaint to the
    //- | competent supervisory authority.
section.bg-black.text-center.py-5.text-white-50.small
    .container.px-5
      h2#8-modifications-to-privacy-policy Modifications to privacy policy
      p
      | We reserve the right to periodically review and change this policy from time to time
      | and will notify users who have enabled the notification preference about changes to
      | our privacy policy. Continued use of the Services will be deemed acceptance of such
      | changes.

    include ../pug/includes/footer.pug

    // CSS
    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js')

    // Core theme JS
    script(src='/js/scripts.js')

