//
// Colors
//

// Override Bootstrap color systel colors

$blue: #2937f0;
$purple: #9f1ae2;
$redlight: #d90b0b;
$lightblue: #8fd9ea;

// Override Bootstrap default state colors

$primary: $redlight;
$secondary: $lightblue;
